<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex justify-content-between align-items-start container-fluid">
        <a class="navbar-brand align-text-top text-light">Icons</a>
        
        <a class="align-text-top text-light"><img routerLink="/ship/home" class="img-fluid" style="height:100px ;" src="../../../assets/star-wars-logo.png" alt="star-wars-logo" ></a>
        <div class="d-flex gap-2">
            <button class="btn text-light" routerLink="/auth/login" >login</button>
            <button class="btn text-light" routerLink="/auth/register">register</button>
        </div>
    </div>
</nav>