<div class="container-fluid bg-dark mt-4">

    <div class="container bg-dark">
    
        <ul class="list-group gap-2">
            <li class="list-group-item active" aria-current="true">An active item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
        </ul>
    </div>
</div>
