<div class="container-fluid bg-dark pt-4 vh-100">

    <div class="container bg-dark">
    
        <ul class="list-group gap-2 bg-dark">
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
            <li class="list-group-item bg-dark text-light ">A third item</li>
        </ul>
    </div>
</div>
