<div class="bg-dark vh-100">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://lumiere-a.akamaihd.net/v1/images/107-andor-mobile_6a841db0.jpeg?region=0,0,1024,626" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Star Wars : Andor</h5>
                    <p>The repercussion of the Aldhni heist reach all the way to Coruscant, while Cassian returns home.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://lumiere-a.akamaihd.net/v1/images/bhtg-hero-mobile_a05355ec.jpeg?region=0,0,1024,626" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Bring Home the Galaxy” This Holiday Season with New Star Wars Products Program</h5>
                    <p>Weekly reveals of new toys, collectibles, and apparel start today. Punch it.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://lumiere-a.akamaihd.net/v1/images/106-andor-mobile_a7aa5624.jpeg?region=0,0,1024,626" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>ANDOR EPISODE 6 : "THE EYE</h5>
                    <p>With cover from a spectacular local festival, the Aldhani mission reaches a point of no return.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://lumiere-a.akamaihd.net/v1/images/tony-gilroy-andor-interview-hero-mobile-_1_b83d21cc.jpeg?region=0,0,1024,626" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>“The Education of Cassian Andor”: Creator Tony Gilroy Explores the Nuance of Andor</h5>
                    <p>The executive producer tells StarWars.com why it's important to get behind the heroes and the villains of a story.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="bg-dark py-4">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-light btn-lg" type="button" routerLink="/ship/starships">START</button>
        </div>

    </div>

</div>